[submodule "s3"]
	path = s3
	url = git@github.com:CUB-Libraries-CTA/cloud-browser-django-app.git
[submodule "ark-server"]
	path = ark-server
	url = git@github.com:CUB-Libraries-CTA/ark-django-app.git
